header {
  font-family: 'Limelight';
  font-size: 90px;
  background-color: gold;
  text-align: center;
  width: auto;
  padding: 0 0.5em;
}

.bestbigly {
  color: white;
}

/*welcome section styling*/

.container {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome {
  width: 70%;
  height: 100%;
  padding: 40px 50px 0px 10px;
  font-size: 33px;
  text-align: justify;
}

.firstletter {
  color: red;
  float: left;
  font-size: 140px;
  line-height: 60px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 0px;
  -webkit-animation-delay: 4s;
}

.hair {
  width: 30%;
  height: 30%;
  padding: 30px 20px 0px 0px;
  -webkit-animation-delay: 2s;
  /*-webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;*/
}

/*feelings styling*/
.step1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.howyoufeel {
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 70px;
  padding: 0;

}

.feelings {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*feelings pix styling*/

.pix1 {
  position: relative;
  cursor: pointer;
}

.anxious {
  width: 100%;
  height: 400px;
  border: solid black 3px;opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.anxiousText {
  height: 150px;
  position: absolute;
  top: 250px;
  left: 10px;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-size: 45px;
  color: FireBrick;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.pix1:hover .anxiousText{
  display: block;
  opacity: 1;
}

.pix1:hover .anxious{
  opacity: 0.4;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.pix2 {
    position: relative;
    cursor: pointer;
}

.bored {
  width: 100%;
  height: 400px;
  border: solid black 3px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.boredText {
  position: absolute;
  top: 250px;
  left: 10px;
  width: 100%;
  font-size: 45px;
  font-family: "Permanent Marker", cursive;
  color: FireBrick;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.pix2:hover .boredText{
  display: block;
  opacity: 1;
}

.pix2:hover .bored{
  opacity: 0.4;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.pix3 {
    position: relative;
    cursor: pointer;
}

.overwhelmed {
  width: 100%;
  height: 400px;
  border: solid black 3px;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.overwhelmedText {
  position: absolute;
  top: 250px;
  left: 10px;
  width: 100%;
  font-size: 45px;
  font-family: "Permanent Marker", cursive;
  color: FireBrick;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.pix3:hover .overwhelmedText{
  display: block;
  opacity: 1;
}

.pix3:hover .overwhelmed{
  opacity: 0.4;
  -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

/*context styling*/

#step2 {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.contextheading {
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 70px;
}

#context {
  width: 60%;
  height: 50px;
  align-self: center;
  border: solid red 2px;
  font-size: 30px;
}

/*step 3 styling*/

.step3 {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.adviceheading {
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 70px;
}

.advice {
  font-family: 'Gentium Basic', serif;
  font-size: 50px;
  color: grey;
}

/*footer styling*/

footer {
  background-color: gold;
  width: auto;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.aboutUs {
  background-color: ivory;
  border: none;
  border-radius: 15px;
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 120%;
  cursor: pointer;
}

.careers {
  background-color: ivory;
  border: none;
  border-radius: 15px;
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 120%;
  cursor: pointer;
}

.contactUs {
  background-color: ivory;
  border: none;
  border-radius: 15px;
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 120%;
  cursor: pointer;
}
